DATABASE_URL=
JWT_SECRET=
PORT=
FRONTEND_URL=
RESEND_API_KEY=
SENTRY_DSN=
ABACATEPAY_API_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

# Seed scripts
CLUB_PASSWORD=
